#PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=5286
POSTGRES_DB=usersdb

DB_USER=postgres
DB_PASSWORD=5286
DB_HOST=postgres
DB_PORT=5432
DB_NAME=usersdb

#Redis
RDB_ADDR=redis
RDB_PORT=6379
RDB_PASS=""
RDB_SESSIONS_DB = 0
RDB_RATE_LIMITER_DB=1

#App
PORT = 8080